<div class="sm:bg-white rounded-lg mx-auto w-full sm:w-[476px] md:max-w-md p-4">
  <div class="flex flex-col justify-center">
    <h1 class="font-bold text-2xl text-[#333333]">Create account</h1>
    <p class="my-2 text-[#737373] text-[16px]">
      Let's get you started sharing your links!
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      @for (input of inputs; track $index) {
      <app-input
        [inputIcon]="input.icon"
        [type]="input.type"
        [label]="input.label"
        [control]="formControlName(input.control)"
        [placeholder]="input.placeholder"
        [errorMessage]="input.errorMessage"
        [required]="true"
      />
      }

      <app-button
        [text]="isLoading ? 'Loading...' : 'Create new account'"
        [disabled]="registerForm.invalid || isLoading"
      />
    </form>

    <div class="flex flex-col md:flex-row justify-center items-center">
      <p>Already have an account?</p>
      <a class="text-[#633cff] md:pl-1 cursor-pointer" routerLink="">Login</a>
    </div>
  </div>
</div>
