<div class="sm:bg-white rounded-lg mx-auto w-full sm:w-[476px] md:max-w-md p-4">
  <div class="flex flex-col justify-center">
    <h1 class="font-bold text-2xl text-[#333333]">Create account</h1>
    <p class="my-2 text-[#737373] text-[16px]">
      Let's get you started sharing your links!
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group my-2 flex flex-col w-full">
        <label class="text-[12px] text-[#333333] pb-2"> Full Name </label>
        <div class="relative flex">
          <img
            src="../assets/images/icon-changes-saved.svg"
            class="absolute pointer-events-none left-4 top-1/2 -translate-y-1/2"
          />
          <input
            class="h-12 w-full rounded-lg border border-gray-300 placeholder:text-gray-400 focus:outline-indigo-500 focus:ring-indigo-500 pl-11 pr-4"
            autocomplete="off"
            placeholder="Enter your name"
            formControlName="name"
          />
        </div>
      </div>
      <div class="form-group my-2 flex flex-col w-full">
        <label class="text-[12px] text-[#333333] pb-2"> Email </label>
        <div class="relative flex">
          <img
            src="../assets/images/icon-email.svg"
            class="absolute pointer-events-none left-4 top-1/2 -translate-y-1/2"
          />
          <input
            class="h-12 w-full rounded-lg border border-gray-300 placeholder:text-gray-400 focus:outline-indigo-500 focus:ring-indigo-500 pl-11 pr-4"
            autocomplete="off"
            placeholder="Enter your email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="form-group my-2 flex flex-col w-full">
        <label class="text-[12px] text-[#333333] pb-2"> Password </label>
        <div class="relative flex">
          <img
            src="../assets/images/icon-password.svg"
            class="absolute pointer-events-none left-4 top-1/2 -translate-y-1/2"
          />
          <input
            class="h-12 w-full rounded-lg border border-gray-300 placeholder:text-gray-400 focus:outline-indigo-500 focus:ring-indigo-500 pl-11 pr-4"
            autocomplete="off"
            placeholder="Enter  password"
            formControlName="password"
          />
        </div>
      </div>

      <small> Password must be at least 6 characters </small>

      <button
        type="submit"
        class="inline-flex my-4 h-[46px] w-full items-center justify-center rounded-lg border border-transparent bg-[#633cff] px-7 font-semibold text-white transition duration-150 ease-in-out hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:bg-indigo-400"
      >
        Create new account
      </button>
    </form>

    <div class="flex flex-col md:flex-row justify-center items-center">
      <p>Already have an account?</p>
      <a class="text-[#633cff] md:pl-1 cursor-pointer" routerLink="">Login</a>
    </div>
  </div>
</div>
